@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular, .poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
    --base-color:white;
    --base-variant: #e8e9ed;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --button-text:#ffffff;
}

.darkmode{
    --base-color:#070b1d;
    --base-variant: #101425;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --button-text:#ffffff;
}

*{
    margin:0;
    padding: 0;
}

html{
    font-family: poppins;
}

body{
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
}

h1,h2{
    margin-bottom: 10px;
}

p{
    margin-bottom: 20px;
    line-height: 20px;
}

header, section{
    padding: 30px;
}

button{
    padding: 10px 15px;
    border:none;
    border-radius: 3px;
    color: var(--button-text);
    background-color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.cta-button{
    background-color: var(--accent-color);
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch svg{
    fill: var(--primary-color);
}

/* #theme-switch svg:first-child{
    display:block;
} */

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display:block;
}